<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	
</head>

<body>

	<div id="app">
		
	<h1>Skill: {{ skill }}</h1>	
	
	<input type="text" v-model="points">

	</div>
	

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>

<script type="text/javascript">
	
	

	new Vue({
		el: '#app',	
		
		data: {
			points: 100
		},

		computed: {
			skill: function(){

				if (this.points <= 100){
					return 'Beginner';
				}
				
				return 'Advanced';
			}
		}	

	});

</script>

</body>
</html>