<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	
	<style type="text/css">

	.completed{
		text-decoration: line-through;
	}

	</style>

</head>

<body>

	<div id="app">		
		
		<task :list="tasks"></task>

	</div>
	
	
	<template id="tasks-template">
		
		<ul>
			<li :class="{ 'completed': task.completed }" v-for="task in list" @click="task.completed = ! task.completed">
				{{ task.body }}
			</li>
		</ul>

	</template>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>

<script type="text/javascript">
	
	Vue.component('task', {

		template: '#tasks-template',

		props: ['list']
	});

	new Vue({
		el: '#app',	
		
		data: {
			tasks: [
				{body: 'go to store', completed: false},
				{body: 'go to bank', completed: true},
				{body: 'go to school', completed: false},
			]
		}
		
	});

</script>

</body>
</html>