<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	
</head>

<body>

	<div id="app">
		
		<form @submit.prevent="handleIt">

			<button type="submit">Submit</button>

		</form>		

		<button @click="updateCount"> {{ count}} </button>
		
	</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>

<script type="text/javascript">
	
	new Vue({
		el: '#app',
		data: {
			count: 0
		},
		methods: {
			handleIt: function() {
				alert('handled');
			},

			updateCount: function(){
				this.count++;
			}
		}

	});

</script>

</body>
</html>