<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	
</head>

<body>

	<div id="app">
		
		<h1>{{ 'hello world' | uppercase}}</h1>
		
		<h1>{{ '5' | currency 'P'}}</h1>

		<pre> {{ $data | jsonIt }} </pre>

		<ul>
			
			<li v-for="person in people | orderBy 'name' | role 'admin' "> {{ person.name}} </li>

		</ul>

	</div>
	

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>

<script type="text/javascript">
	
	
	Vue.filter('jsonIt', function(value){

		return JSON.stringify(value);

	});

	Vue.filter('role', function(value, role){

		return value.filter(function(item){

			return item.role == role;

		});

	});

	new Vue({
		el: '#app',	
		
		data: {

			message: 'Hello World',

			people: [

				{name: 'Jeff', role: 'admin'},
				{name: 'Lizzy', role: 'student'},
				{name: 'Frank', role: 'admin'},
				{name: 'Tom', role: 'admin'},
			]
		}

	});

</script>

</body>
</html>