<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	
</head>

<body>

	<div id="app">

		<h1>{{ message }}</h1>

		<input type="text" v-model="message">

		<pre>
			
			{{ $data | json}}
		</pre>
	</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>

<script type="text/javascript">
	
	new Vue({
		el: '#app',
		data: {
			message: 'Hello world'
		}	

	});

</script>

</body>
</html>