<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	
	<style type="text/css">

	.completed{
		text-decoration: line-through;
	}

	</style>

</head>

<body>

	<div id="app">
		
		<ul>
			<li :class="{ 'completed': task.completed }" v-for="task in tasks" @click="toggleCompletedFor(task)">
				{{ task.body }}
			</li>
		</ul>

	</div>
	
	

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>

<script type="text/javascript">
	
	

	new Vue({
		el: '#app',	
		
		data: {
			tasks: [
				{body: 'go to store', completed: false},
				{body: 'go to bank', completed: true},
				{body: 'go to school', completed: false},
			]
		},

		methods: {

			toggleCompletedFor: function(task){

				task.completed = ! task.completed;	
			}
		}
	});

</script>

</body>
</html>