<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	
</head>

<body>

	<div id="app">
		
		<counter subject="Likes"></counter>
		<counter subject="Dislikes"></counter>
		
	</div>

	<template id="template-counter">
		
		<h1>{{ subject }}</h1>

		<button @click="count += 1">Increment {{ count }} </button>

	</template>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>

<script type="text/javascript">
	
	Vue.component('counter', {
		template: "#template-counter",

		props: ['subject'],
		
		data: function(){
			return { count: 0};
		}
	});

	new Vue({
		el: '#app',		

	});

</script>

</body>
</html>