<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	
</head>

<body>

	<div id="app">
		
		<div v-for="plan in plans">
			
			<plan :plan="plan" :active.sync="active"></plan>

		</div>

	</div>
	
	<template id="plan-template">
		
		<span>{{ plan.name }}</span>&nbsp;&nbsp;&nbsp;
		<span>{{ plan.price }}/month</span>&nbsp;&nbsp;&nbsp;

		<button @click="setActivePlan" v-show="plan.name !== active.name">
		
			{{ isUpgrade ? 'Upgrade' : 'Downgrade'}}

		</button>

		<span v-else>Current</span>

	</template>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>

<script type="text/javascript">
	
	

	new Vue({
		el: '#app',	
		
		data: {
			plans: [
				{name: 'Enterprise', price: 100},
				{name: 'Pro', price: 50},
				{name: 'Personal', price: 10},
				{name: 'Free', price: 0},
			],

			active: {}
		},

		components: {
			
			plan: {
				template: '#plan-template',

				props: ['plan', 'active'],

				methods: {

					setActivePlan: function(){
						this.active = this.plan	
					}
				},

				computed: {

					isUpgrade: function(){
						return this.plan.price > this.active.price;
					}
				}
			},

		}	

	});

</script>

</body>
</html>