<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	
	<style type="text/css">

	.completed{
		text-decoration: line-through;
	}

	.delete-task {
		cursor: pointer;
	}

	</style>

</head>

<body>

	<div id="app">		
		
		<task :list="tasks"></task>

	</div>
	
	
	<template id="tasks-template">
		
		<h1>
			My Tasks
			<span v-show="remaining"> ({{ remaining }}) </span>
		</h1>

		<ul v-show="list.length">
			<li :class="{ 'completed': task.completed }" v-for="task in list" @click="task.completed = ! task.completed">
				
				{{ task.body }}
				
				<strong class="delete-task" @click="deleteTask(task)">x</strong>

			</li>
		</ul>

		<p v-else> No tasks yet.</p>

		<button @click="clearCompleted">Clear completed.</button>

	</template>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>

<script type="text/javascript">
	
	Vue.component('task', {

		template: '#tasks-template',

		props: ['list'],

		computed: {

			remaining: function(){
				
				var vm = this;

				return this.list.filter(this.inProgress).length;
			}
		},

		methods: {

			isCompleted: function(task){
				
				return task.completed;

			},

			inProgress: function(task)
			{
				return ! this.isCompleted(task)

			},

			deleteTask: function(task){

				this.list.$remove(task);

			},

			clearCompleted: function(){

				this.list = this.list.filter(this.inProgress);
			}
		}
	});

	new Vue({
		el: '#app',	
		
		data: {
			tasks: [
				{body: 'go to store', completed: false},
				{body: 'go to bank', completed: true},
				{body: 'go to school', completed: false},
			]
		}
		
	});

</script>

</body>
</html>