<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	
</head>

<body>

	<div id="app">
		
		<form>
			
			<span v-show="!message">Please fill out the form</span>

			<textarea name="message" v-model="message"></textarea>

			<input type="submit" value="Submit" v-if="message">

		</form>
		
	</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>

<script type="text/javascript">
	
	new Vue({
		el: '#app',
		data: {
			message: ''
		}			

	});

</script>

</body>
</html>